body {
  background-color:#210934;
}
.signup-container{
  color: white;
  text-align: center;
  margin: 10% 30%;
}
.signup-form {
  border:none;
  width:100%;
  color:#EFDDFD;
}

input[type=text], input[type=email], input[type=password], input[type=number] {
  border:none;
  border-bottom: 1px solid #8e5ebe;
  background-color: #210934;
  color:#EFDDFD;
  text-align: center;
  width:100%;
}

input[type=buttom] {
  border: 1px solid #8e5ebe;
  background-color: #210934;
  color:#EFDDFD;
  text-align: center;

}